body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #1e1e2f, #2a2a40);
    color: white;
    font-family: Arial, sans-serif;
}

#clock{
    font-size: 4rem;
    font-weight: bold;
}
